@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.main {
  height: 100vh;
  background-image: url(./Assets/Images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-size: max(1200px 1200px);
}
.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.5;
  background-color: black;
  position: absolute;
  top: 0;
}
nav {
  max-width: 60vw;
  height: 62px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 160px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}

.hero {
  position: relative;
  font-family: "Martel Sans", sans-serif;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
}
.hero > :nth-child(1) {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.speration {
  height: 3px;
  background-color: rgb(75, 75, 75);
}
.btn {
  font-family: sans-serif;
  padding: 3px 8px;
  font-weight: 600;
  background-color: rgba(7, 7, 7, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.405);
  color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
}
.red-btn {
  background-color: #e50914;
  color: white;
  padding: 9px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}
.main input {
  background-color: rgba(23, 23, 23, 0.2);
  padding: 12px 35px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  font-weight: bold;
  color: aliceblue;
}
.btn-red-sm {
  background-color: #e50914ed;
  color: white;
  border: none;
}
.em-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  height: 100vh;
  margin: auto;
  color: white;
  align-items: center;
}
.secImg {
  position: relative;
  margin: 10px;
}
.secImg img {
  width: 30vw;
  position: relative;
  z-index: 10;
}
.secImg video {
  width: 22vw;
  position: absolute;
  top: 71px;
  right: 63px;
}

section.first > div {
  display: flex;
  flex-direction: column;
}
section.first > div :first-child {
  font-size: 40px;
  font-weight: bolder;
}
section.first > div :nth-child(2) {
  font-size: 24px;
}
.faq h2 {
  font-family: "Segoe UI", Tahoma, Geneva;
  text-align: center;
  padding: 24px;
  font-size: 48px;
}
.faq {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 34px;
  color: aliceblue;
}

.faqbox {
  display: flex;
  background-color: rgba(137, 137, 137, 0.3);
  padding: 24px;
  max-width: 75vw;
  align-items: center;
  margin: 10px auto;
  font-size: 24px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  cursor: pointer;
}
.faqbox:hover {
  background-color: rgba(128, 128, 128, 0.453);
  transition: 0.4s ease-in-out;
}
.faqbox svg {
  height: 2rem;
}
.faq-hero {
  margin-top: 70px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}
.faq-hero .em-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 20px;
}
.faq-hero input {
  background-color: rgba(23, 23, 23, 0.2);
  padding: 15px 305px 15px 15px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(245, 245, 245, 0.521);
  font-weight: bold;
  color: aliceblue;
}
.faq-hero button {
  padding: 15px 35px 15px 15px;
  font-size: 25px;
}
footer {
  color: grey;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
  font-family: sans-serif;
}
footer .Questions {
  padding:34px 0px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
.footer a {
  font-size: 14px;
  color: grey;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
